body {
    width: auto;
}
#format-logo{
    width:10px;
    height:10px;
}
header {
   
}


.align-tieude {
    text-align: center;
    padding-top: 10px;
}

#format-logo {
    width: 100px;
    margin-left: 30px;
    float: left
}

.left-aside {
    height: auto;
    width: 40%;
    background-color: red;
}

.image-size {
    width: 40px;
    height: 40px;
    padding: 10px;
}

.content {
    display: flex;
}

.main-content {
    height: auto;
    width: 60%;
    padding-left:10px;
}



.image-size {
    width: 300px;
    height: 300px;
    padding: 10px;
}




.xm {
    margin-right: 30px;
}

.vanban {
    border-bottom: 2px solid red;
}



.sp {
    padding-top: 5px;
}

#xemn{
    padding-left:30px;
    padding-top:15px;
}
.margin-box{
    padding-top: 30px;
    padding-left:10px;
}
.tt {
    padding-top: 15px;
    padding-left:0px;
}

h1{
    width:100px;
    height:100px;
}
.container{
    display:flex;
}
.left-aside{
    padding-left:0px;
    background-color:red;
    width:40%;
    height:100%;
}
.main-content{
    
    width:60%;
    height:auto;
}
footer .container1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px 30px;
  background: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
footer .container1 .noi-dung {
  margin-left: 40px;
}
footer .container1 .noi-dung.about {
  width: 30%;
}
footer .container1 .noi-dung.about h3 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}
footer .container1 .noi-dung.about h3:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}
footer .container1 .noi-dung.about p {
  color: #999;
}
.social-icon {
  margin-top: 20px;
  display: flex;
}
.social-icon li {
  list-style: none;
}
.social-icon li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}
.social-icon li a:hover {
  background: #f00;
}
.social-icon li a .fa {
  color: #fff;
  font-size: 20px;
}
.links h3 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}
.links h3::before {
  bottom: -5px;
  content: "";
  position: absolute;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}
.links {
  position: relative;
  width: 25%;
}
.links ul li {
  list-style: none;
}
.links ul li a {
  color: #999;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 18px;
}
.links ul li a:hover {
  color: #fff;
}
.contact h3 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}
.contact h3::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}
.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}
.contact .info {
  position: relative;
}
.contact .info li {
  display: flex;
  margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}
.contact .info li span {
  color: #999;
}
.contact .info li a {
  color: #999;
  text-decoration: none;
}
.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  margin-top: 16px;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.btn--primary {
  background: #222;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 8px 24px;
}
.btn--primary:hover {
  background: #f00;
}
.btn--primary:active {
  background: #f00;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.form__field {
  width: 90%;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 8px 4px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 0 auto;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-body {
  padding: 1rem;
}

.modal-footer {
  display: flex;
  border-top: 1px solid #aaaaaa;
  padding: 1rem;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid #aaaaaa;
  padding: 1rem;
}

.modal-footer > :not(:first-child) {
  margin-left: 0.25rem;
}

.btn {
  cursor: pointer;
  outline: none;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.btn-secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.modal-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #aaaaaa;
  padding: 1rem;
}

h5.modal-title {
  font-size: 1.5rem;
}

.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* cart */
/* cart */
.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}
